:root {
    --dark-bg: #380116;
    --darker-mode: #25000e;
    --dark-hover: #5d0124;
    --main-font: "Michroma", sans-serif;
}

/* Estilos generales */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--dark-bg);
    color: white;
    font-family: var(--main-font);
    position: relative;
}

/* Estilos del HEADER - titulo y los botones del control */

#container-header {
    background-color: var(--darker-mode);
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container-header #title-header{
    margin-top: 10px;
}

#container-header #container-btn-header .header-btn {
    padding: 10px;
    background-color: transparent;
    color: white;
    border: none;
    margin-top: 20px;
    font-size: 16px;
    letter-spacing: 1px;
}

#container-header #container-btn-header .header-btn .bi{
    margin: 5px;
}

#container-header #container-btn-header .header-btn:hover{
    background-color: var(--dark-hover);
    border-radius: 10px;
    cursor: pointer;
}

/* Estilos de la tarjeta del meme - los textos, imagen y el boton de descargar */

#container-editor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container-editor #meme-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-editor #meme-container #meme-card{
    height: 620px;
    width: 620px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#container-editor #meme-container #meme-card #img-card{
    background-color: black;
    height: 500px;
}


#container-editor #meme-container #meme-card .txt{
    color: black;
    background-color: white;
    text-align: center;
    height: 80px;
    padding-top: 25px;
    font-size: 22px;
}


#container-editor #meme-container #download-btn {
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #e36414;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

#container-editor #meme-container #download-btn .bi {
    margin-right: 10px;
}

/* Los estilos de los controles de la imagen */

#edit-container-aside {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 10px;
    width: 270px;
    background-color: #2f0112;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    z-index: 999;
}

#edit-container-aside .close-btn{
    align-self: flex-end;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    margin: 10px 20px;
    cursor: pointer;
}

#edit-container-aside .title-panel{
    text-align: center;
}

#edit-container-aside .container-filter{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.edit .edit-title{
    padding: 10px;
}

.edit .edit-input{
    height: 35px;
    width: 95%;
    background-color: var(--dark-hover);
    border: none;
}

.edit .edit-input:focus{
    outline: 1px dashed white;
    background-color: #7c0533;
}

#edit-img #bg-color-options{
    display: flex;
    justify-content: space-between;
    width: 95%;
}

#edit-img #bg-color-options #edit-container-options-bg{
    background-color: var(--dark-hover);
    display: flex;
    padding: 7px;
}

#edit-img #bg-color-options #edit-container-options-bg span{
    padding-left: 10px;
    font-size: 12px;
}

/* hacer que el input de color type no tenga el borde gris sino que sea un pequeno circulo */

input[type="color"] {
    -webkit-appearance: none;  
    -moz-appearance: none;     
    appearance: none;
    width: 20px;  
    height: 20px; 
    padding: 0;
    border: none;
    border-radius: 50%;  
    cursor: pointer;
    background-color: transparent;
    box-shadow: none;  
}
  
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;  
}
  
  input[type="color"]::-webkit-color-swatch {
    border-radius: 50%; 
}

#bg-color-options #edit-modes-options #select-mode-bg{
    background-color: #5d0124;
    color: white;
    padding: 10px;
    border: none;
}

/* FILTROS */

#filters-all .container-filter label{
    padding-bottom: 5px;
}

#filters-all .container-filter input[type="range"] {
    accent-color: var(--dark-hover);
}

#filters-all .container-filter input[type="range"]:focus,
#filters-all .container-filter input[type="range"]:active, 
#filters-all .container-filter input[type="range"]:hover {
  accent-color: var(--dark-hover);
}

#edit-img{
    display: flex;
    flex-direction: column;
}

#edit-img .btn-reset{
    color: white;
    border: none;
    background-color: var(--dark-hover);
    align-self: center;
    width: 60%;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
}

.hidden{
    display: none;
}